---
import Layout from "../../layouts/Layout.astro";
import PicComp from "../../components/SingleFoto.astro";
import pic413 from "../../images/1991-08-Rimini/P1000413.jpg";
import pic414 from "../../images/1991-08-Rimini/P1000414.jpg";
import pic416 from "../../images/1991-08-Rimini/P1000416.jpg";
import pic417 from "../../images/1991-08-Rimini/P1000417.jpg";
import pic418 from "../../images/1991-08-Rimini/P1000418.jpg";
import pic420 from "../../images/1991-08-Rimini/P1000420.jpg";
import pic421 from "../../images/1991-08-Rimini/P1000421.jpg";
import pic422 from "../../images/1991-08-Rimini/P1000422.jpg";
import pic423 from "../../images/1991-08-Rimini/P1000423.jpg";
import pic428 from "../../images/1991-08-Rimini/P1000428.jpg";
import pic429 from "../../images/1991-08-Rimini/P1000429.jpg";
import pic430 from "../../images/1991-08-Rimini/P1000430.jpg";
import pic431 from "../../images/1991-08-Rimini/P1000431.jpg";
import pic432 from "../../images/1991-08-Rimini/P1000432.jpg";
import pic438 from "../../images/1991-08-Rimini/P1000438.jpg";
import pic439 from "../../images/1991-08-Rimini/P1000439.jpg";
import pic442 from "../../images/1991-08-Rimini/P1000442.jpg";
import pic443 from "../../images/1991-08-Rimini/P1000443.jpg";
import pic444 from "../../images/1991-08-Rimini/P1000444.jpg";
import pic445 from "../../images/1991-08-Rimini/P1000445.jpg";
import pic448 from "../../images/1991-08-Rimini/P1000448.jpg";
import pic450 from "../../images/1991-08-Rimini/P1000450.jpg";
import pic451 from "../../images/1991-08-Rimini/P1000451.jpg";
import pic452 from "../../images/1991-08-Rimini/P1000452.jpg";
import pic453 from "../../images/1991-08-Rimini/P1000453.jpg";
---

<Layout pageTitle="Rimini 1991">
  <main>
    <ul role="list" class="link-card-grid">
      <PicComp picToShow={pic413} />
      <PicComp picToShow={pic414} />
      <PicComp picToShow={pic416} />
      <PicComp picToShow={pic417} />
      <PicComp picToShow={pic418} />
      <PicComp picToShow={pic420} />
      <PicComp picToShow={pic421} />
      <PicComp picToShow={pic422} />
      <PicComp picToShow={pic423} />
      <PicComp picToShow={pic428} />
      <PicComp picToShow={pic429} />
      <PicComp picToShow={pic430} />
      <PicComp picToShow={pic431} />
      <PicComp picToShow={pic432} />
      <PicComp picToShow={pic438} />
      <PicComp picToShow={pic439} />
      <PicComp picToShow={pic442} />
      <PicComp picToShow={pic443} />
      <PicComp picToShow={pic444} />
      <PicComp picToShow={pic445} />
      <PicComp picToShow={pic448} />
      <PicComp picToShow={pic450} />
      <PicComp picToShow={pic451} />
      <PicComp picToShow={pic452} />
      <PicComp picToShow={pic453} />
      </ul>
  </main>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
