---
import Layout from "../../layouts/Layout.astro";
import PicComp from "../../components/SingleFoto.astro";
import pic274 from "../../images/2022-05-Vienna/P1000274.jpg";
import pic275 from "../../images/2022-05-Vienna/P1000275.jpg";
import pic285 from "../../images/2022-05-Vienna/P1000285.jpg";
import pic286 from "../../images/2022-05-Vienna/P1000286.jpg";
import pic287 from "../../images/2022-05-Vienna/P1000287.jpg";
import pic288 from "../../images/2022-05-Vienna/P1000288.jpg";
import pic289 from "../../images/2022-05-Vienna/P1000289.jpg";
import pic290 from "../../images/2022-05-Vienna/P1000290.jpg";
import pic291 from "../../images/2022-05-Vienna/P1000291.jpg";
import pic292 from "../../images/2022-05-Vienna/P1000292.jpg";
import pic297 from "../../images/2022-05-Vienna/P1000297.jpg";
import pic298 from "../../images/2022-05-Vienna/P1000298.jpg";
import pic299 from "../../images/2022-05-Vienna/P1000299.jpg";
import pic300 from "../../images/2022-05-Vienna/P1000300.jpg";
import pic301 from "../../images/2022-05-Vienna/P1000301.jpg";
import pic302 from "../../images/2022-05-Vienna/P1000302.jpg";
import pic303 from "../../images/2022-05-Vienna/P1000303.jpg";
import pic304 from "../../images/2022-05-Vienna/P1000304.jpg";
import pic305 from "../../images/2022-05-Vienna/P1000305.jpg";
import pic306 from "../../images/2022-05-Vienna/P1000306.jpg";
import pic307 from "../../images/2022-05-Vienna/P1000307.jpg";
import pic308 from "../../images/2022-05-Vienna/P1000308.jpg";
import pic309 from "../../images/2022-05-Vienna/P1000309.jpg";
import pic310 from "../../images/2022-05-Vienna/P1000310.jpg";
import pic311 from "../../images/2022-05-Vienna/P1000311.jpg";
import pic312 from "../../images/2022-05-Vienna/P1000312.jpg";
import pic313 from "../../images/2022-05-Vienna/P1000313.jpg";
import pic314 from "../../images/2022-05-Vienna/P1000314.jpg";
import pic315 from "../../images/2022-05-Vienna/P1000315.jpg";
import pic316 from "../../images/2022-05-Vienna/P1000316.jpg";
import pic317 from "../../images/2022-05-Vienna/P1000317.jpg";
import pic318 from "../../images/2022-05-Vienna/P1000318.jpg";
import pic319 from "../../images/2022-05-Vienna/P1000319.jpg";
import pic320 from "../../images/2022-05-Vienna/P1000320.jpg";
import pic321 from "../../images/2022-05-Vienna/P1000321.jpg";
---

<Layout pageTitle="Vienna">
  <main>
    <ul role="list" class="link-card-grid">
      <PicComp picToShow={pic274} />
      <PicComp picToShow={pic275} />
      <PicComp picToShow={pic285} />
      <PicComp picToShow={pic286} />
      <PicComp picToShow={pic287} />
      <PicComp picToShow={pic288} />
      <PicComp picToShow={pic289} />
      <PicComp picToShow={pic290} />
      <PicComp picToShow={pic291} />
      <PicComp picToShow={pic292} />
      <PicComp picToShow={pic297} />
      <PicComp picToShow={pic298} />
      <PicComp picToShow={pic299} />
      <PicComp picToShow={pic300} />
      <PicComp picToShow={pic301} />
      <PicComp picToShow={pic302} />
      <PicComp picToShow={pic303} />
      <PicComp picToShow={pic304} />
      <PicComp picToShow={pic305} />
      <PicComp picToShow={pic306} />
      <PicComp picToShow={pic307} />
      <PicComp picToShow={pic308} />
      <PicComp picToShow={pic309} />
      <PicComp picToShow={pic310} />
      <PicComp picToShow={pic311} />
      <PicComp picToShow={pic312} />
      <PicComp picToShow={pic313} />
      <PicComp picToShow={pic314} />
      <PicComp picToShow={pic315} />
      <PicComp picToShow={pic316} />
      <PicComp picToShow={pic317} />
      <PicComp picToShow={pic318} />
      <PicComp picToShow={pic319} />
      <PicComp picToShow={pic320} />
      <PicComp picToShow={pic321} />
      </ul>
  </main>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
