---
import BaseLayout from "./Layout.astro";
import { Image } from "@astrojs/image/components";
import meImage from '../images/me.jpg';

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <main>
    <h1>{frontmatter.title}</h1>
    <p>{frontmatter.pubDate.slice(0, 10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>Scritto da: {frontmatter.author}</p>
    <Image
      src={meImage}
      alt="Luz"
      aspectRatio="1:1"
      width="100"
    />
    <slot />
  </main>
</BaseLayout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
